@model IEnumerable<Zubrs.Models.MenuItem>
<nav class="top-bar" data-topbar>
    <section class="top-bar-section">
        <ul class="left">
            @foreach (var x in Model)
            {
                <li class="@(x.HasSubItems ? "has-dropdown" : null)">
                    @Html.RouteLink(x.Title.ToUpper(), x.RouteName, x.RouteParams, new { @class = x.IsActive ? "active" : null })
                    @if (x.HasSubItems)
                    {
                        <ul class="dropdown">
                            @foreach (var z in x.SubItems)
                            {
                                <li>@Html.RouteLink(z.Title.ToUpper(), z.RouteName, z.RouteParams)</li>
                            }
                        </ul>
                    }
                </li>
            }
        </ul>
    </section>
    @*<section class="top-bar-section">
        <ul class="right">
            <li class="has-form">
                <div class="row collapse">
                    <div class="small-8 columns">
                        <input type="text">
                    </div>
                    <div class="small-4 columns">
                        <input type="button" class="button expand" value="Найти" />
                    </div>
                </div>
            </li>
        </ul>
    </section>*@
</nav>
